DB_ENGINE='django.db.backends.postgresql' # указываем, что работаем с postgresql
POSTGRES_DB='db' # имя базы данных
POSTGRES_USER='db_user' # логин для подключения к базе данных
POSTGRES_PASSWORD='123456' # пароль для подключения к БД (установите свой)
DB_HOST='db' # название сервиса (контейнера)
DB_PORT='5432' # порт для подключения к БД
SECRET_KEY='django'
HOST='89.111.174.233'
REDIS_HOST = 'redis'
REDIS_PORT = '6379'
